@* @using static BooksAI.Controllers.GenresDetailController *@
@{
    ViewData["Title"] = "Жанр";
}
@model List<Book>
<link rel="stylesheet" href="~/css/genresdetail.css" />
<script src="~/js/site.js"></script>

<div class="container">
    <div class="container-title">
        <h2>Книги жанра: @ViewData["GenreName"]</h2>
    </div>

    @if (Model != null || Model.Any())
    {
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Поиск книг..." onkeyup="searchBooks()" />
        </div>

        <div class="detail">
            @foreach (var book in Model)
            {
                <div class="card">
                    <div class="card-detail">
                       
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-author">Автор: @book.Author</p>
                        <p class="card-text">Цена: @book.Price.ToString("C")</p>
                        <p class="card-text">Год выпуска: @book.Year</p>
                        <button class="btn">Добавить в корзину</button>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="no-books">
            <p>Книги этого жанра пока отсутствуют</p>
        </div>
    }
</div>