@using static BooksAI.Controllers.GenresDetailController
@{
    ViewData["Title"] = "Жанр";

}
@model List<Book>;
<link rel="stylesheet" href="~/css/genresdetail.css" />
<script src="~/js/site.js"></script>

<div class="container">
    <div class="container-title">
        <h2>Книги жанра: @ViewData["GenreName"]</h2>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Поиск книг..." onkeyup="searchBooks()" />
        </div>

        <div class="detail">
            @foreach (var book in Model)
            {
                <div class="card">
                    <div class="card-detail">
                        <div class="placeholder-img"></div>
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-author">Автор: @book.Author</p>
                        <p class="card-text">Цена: @book.Price</p>

                        <p class="card-text">Описание:
                            <span class="short-desc"></span>
                            <span class="dots" onclick="toggleDescription(this)">....... </span>
                        </p>
                        <div class="full-description" style="display:none;">
                            <p>@book.Pages</p>
                        </div>

                        <button class="btn">Добавить в корзниу</button>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        
    }

</div>
